<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thêm phim</title>
  
  <link rel="stylesheet" href="/css/add-film.css">
  <%- include('layout/css-layout.ejs') %>
  <link rel="stylesheet" href="/css/home.css">
 
</head>
<body >

<%- include('layout/header.ejs') %>
<div class="container">
    <h2 style="text-align: center;">Thêm phim</h2>
   
    <form action="<%= getActionAd("movie/storage-movie") %>" method="post">

        <label for="1">Tiêu đề</label>
        <br>
       <input type="text" name="title" id="1">
        <br>
        <label for="2">Mô tả</label>
        <br>
        <textarea name="description" id="5" ></textarea>
        <br>
        <br>
        <label for="9">Độ tuổi</label>
        <br>
       <select name="ageRestriction" id="9">
        <option value="0">0</option>
        <option value="13">13</option>
        <option value="16">16</option>
        <option value="18">18</option>
       </select>
        <br>
        <label for="3">Ảnh bìa (url)</label>
        <br>
        <input type="text" name="poster" id="3">
        <br>
        <label for="4">Trailer(url youtube)</label>
        <br>
        <input type="text" name="trailer" id="4"> 
        <br>
        <label for="5">Thời lượng</label>
        <br>
        <input type="number" name="duration" id="5"> phút
        <br>
        <label for="6">Ngôn ngữ</label>
        <br>
         <input type="text" name="language" id="6">
        <br>
         <label for="7">Ngày khởi chiếu</label>
         <br>
        <input type="date" name="releaseDate" id="7">
         <br>
         <br>
         <label for="8">Ngày dừng chiếu</label>
         <br>
         <input type="date" name="endDate" id="8">
         <br>
         <br>
         <label for="">Thể loại</label>
         <br>
         <input name="genres" type="checkbox" value="Hành Động">Hành Động
         <input name="genres" type="checkbox" value="Phiêu Lưu">Phiêu Lưu
         <input name="genres" type="checkbox" value="Hoạt Hình">Hoạt Hình
         <input name="genres" type="checkbox" value="Hài Hước">Hài Hước
         <input name="genres" type="checkbox" value="Tâm Lý">Tâm Lý
         <input name="genres" type="checkbox" value="Lãng mạn">Lãng Mạn
         <input name="genres" type="checkbox" value="Kinh dị">Kinh Dị
         <input name="genres" type="checkbox" value="Lịch Sử">Lịch Sử
         <br>
         <input name="genres" type="checkbox" value="Gia Đình">Gia Đình
         <input name="genres" type="checkbox" value="Võ Thuật">Võ Thuật
         <input name="genres" type="checkbox" value="Âm Nhạc">Âm Nhạc
         <input name="genres" type="checkbox" value="Chiến Tranh">Chiến Tranh
         <input name="genres" type="checkbox" value="Khoa Học Viễn Tưởng">Khoa Học Viễn Tưởng
         <input name="genres" type="checkbox" value="Hình Sự">Hình Sự
         <br>
         <br>
         <br>
         <label for="10">Diễn viên</label>
         <br>
         <input type="text" name="actors" id="10">
         <br>
         <br>
         <label for="11">Đạo diễn</label>
         <br>
         <input type="text" name="directors" id="11">
         <br>
       <br>
        <br>
         <input type="submit" value="Lưu phim">
    </form>
</div>




<%- include('layout/footer.ejs') %>
<%- include('layout/js-layout.ejs') %>

</body>
</html>