<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thêm suất chiếu</title>
  
  <link rel="stylesheet" href="/css/add-showtime.css">
  <%- include('layout/css-layout.ejs') %>
  <link rel="stylesheet" href="/css/home.css">
 
</head>

<body >

<%- include('layout/header.ejs') %>

<div class="container">
    <h2>Thêm suất chiếu</h2>
    <form action="<%= getActionAd("showtime/storage-showtime") %>" method="post">

        <label for="1">Chọn rạp</label>
        <br>
        <select id="1" >
            <% cinemas.forEach(function(cinema) { %>
                <option value="<%= cinema._id %>">
                  <%= cinema.name %>
                </option>
            <% }) %>
        </select>
        <br>
        <label for="2">Chọn phòng</label>
        <br>
        <select name="theaterId" id="2">
                <option></option>
        </select>
        <br>
        <label for="3">Tên phim</label>
        <br>
        <select name="movieId" id="3">
            <% movies.forEach(function(movie) { %>
                
            <option value="<%= movie._id %>"><%= movie.title %></option>
            <% }); %>
        </select>
        <br>
    <br>
        <label for="4">Suất chiếu</label>
        <br>
         <input name="list_start" type="checkbox" value="9"> 9:00 
         <input name="list_start" type="checkbox" value="11"> 11:00
         <input name="list_start" type="checkbox" value="13"> 13:00
         <input name="list_start" type="checkbox" value="15"> 15:00
         <input name="list_start" type="checkbox" value="17"> 17:00

         <input name="list_start" type="checkbox" value="19"> 19:00
        
    <br>
    <br>
         <label for="5">Ngày chiếu</label>
         <br>
         <input type="date" name="day" id="5" name="dateInput">
         <br><br>
         <label for="5">Giá suất chiếu</label>
         <br>
         <select name="price" id="6">
             <option value="3">3$</option>
             <option value="4">4$</option>
             <option value="5">5$</option>
         </select>
         <br>
    <br><br>
         <input type="submit" value="Lưu suất chiếu">
    </form>
</div>

<%- include('layout/footer.ejs') %>

<%- include('layout/js-layout.ejs') %>

</body>

<script>

  const cinemaSelect = document.getElementById('1');
  const theaterSelect = document.getElementById('2');

  const temp = '<%= JSON.stringify(theaters) %>';
  const listTheater = JSON.parse(temp.replaceAll('&#34;', '"'))

  const filterTheaters = (selectedCinemaId) => {
    const filteredTheater = listTheater.filter(theater => theater.cinemaId === selectedCinemaId);

    theaterSelect.innerHTML = '';

    filteredTheater.forEach(theater => {
      const option = document.createElement('option');
      option.value = theater._id;
      option.textContent = theater.name;
      theaterSelect.appendChild(option);
    });
  };

  function updateTheatersOnPageLoad() {
    const selectedCinemaId = cinemaSelect.value;
    filterTheaters(selectedCinemaId);
}
updateTheatersOnPageLoad();
  cinemaSelect.addEventListener('change', () => {
    filterTheaters(cinemaSelect.value); // Sử dụng giá trị của thẻ <select> rạp chiếu phim
});
</script>

</html>